<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"className":"site-content is-style-no-margin","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content is-style-no-margin">
    <!-- wp:pattern {"slug":"greenshift/hero-main"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-features-main"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-features-list"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-ratings"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-faq"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer is-style-no-margin"} /-->